@tailwind base;
@tailwind components;
@tailwind utilities;

.categories::-webkit-scrollbar {
    display: none;
}

h1,
h2 {
    padding: 1rem 0;
    white-space: nowrap;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    line-height: 1rem;
}
